.DS_Store
*.o
.project

Problems/Problem 5/C/problem_5

Problems/Problem 6/C/problem_6

Problems/Problem 4/C/problem_4

Problems/Problem 7/C/problem_7

Problems/Problem 8/C/problem_8

Problems/Problem 9/C/problem_9

Problems/Problem 10/C/problem_10

Problems/Problem 11/C/problem_11

Problems/Problem 12/C/problem_12

Problems/Problem 13/C/problem_13

Problems/Problem 14/C/problem_14

Problems/Problem 15/C/problem_15

Problems/Problem 16/C/problem_16

Problems/Problem 19/C/problem_19

Problems/Problem 20/C/problem_20

Problems/Problem 21/C/problem_21

Problems/Problem 23/C/problem_23

Problems/Problem 25/C/problem_25

Problems/Problem 26/C/problem_26

Problems/Problem 27/C/problem_27

Problems/Problem 28/C/problem_28

Problems/Problem 29/C/problem_29

Problems/Problem 30/C/problem_30

Problems/Problem 31/C/problem_31
