.DS_Store
*.o
.project

Problems/Problem 5/C/problem_5

Problems/Problem 6/C/problem_6

Problems/Problem 4/C/problem_4

Problems/Problem 7/C/problem_7

Problems/Problem 8/C/problem_8

Problems/Problem 9/C/problem_9

Problems/Problem 10/C/problem_10

Problems/Problem 11/C/problem_11

Problems/Problem 12/C/problem_12

Problems/Problem 13/C/problem_13

Problems/Problem 14/C/problem_14

Problems/Problem 15/C/problem_15
